<div class="ui header">
  Create a Job
</div>
<div class="ui segment">
  <div class="ui form" {{action 'submit' on='submit'}}>
    <div class="field">
      {{#ui-dropdown class="selection"  selected=selectedTranscription onChange=(action (mut selectedTranscription)) as |execute mapper|}}
        <div class="default text">Transcription</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each model.transcriptions as |transcription|}}
            <div data-value="{{map-value mapper transcription}}" class="item">
              {{transcription.name}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>

    <div class="field">
      {{#ui-dropdown class="multiple selection" selected=assignees onChange=(action (mut assignees)) as |execute mapper|}}
        <i class="dropdown icon"></i>
        <div class="default text">Select Assignees</div>
        <div class="menu">
          {{#each model.editors as |editor|}}
            <div data-value="{{map-value mapper editor}}" class="item">
              <i class="user icon"></i>
              {{editor.firstName}} {{editor.lastName}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
    <button class="ui green button" type="submit" {{action 'submit'}}>Create</button>

  </div>

</div>