  <div class="     image">
<!--    <img src="../assets/images/audio-file.png" alt="" class="ui mini image">-->
    <div class="ui basic center aligned segment"><i class="ui icon huge blue music"></i></div>
  </div>
  <div class="content">
    {{#if (eq value 'created')}}
      <button class="ui animated right floated basic compact blue button" {{action 'redirectCreateJob' data}} tabindex="0">
        <div class="visible content">Assign</div>
        <div class="hidden content">
          <i class="clipboard check icon"></i>
        </div>
      </button>
    {{/if}}
    <div class="meta">
      <span> {{moment-format data.createdAt 'hh:mm a / DD-MM-YYYY'}}</span>
    </div>
    {{#link-to 'editor.list' data.id class='header'}}{{data.name}}{{/link-to}}
    <div class="extra">
      {{#if data.audioDuration}}
        <div class="small text"><i class="wait icon"></i>{{data.audioDuration}} hour</div>
      {{/if}}
    </div>
    <div class="description">
    <div class="ui hidden divider"></div>
      {{#if data.editors}}
        {{#each data.editors as |assignee|}}
          <div class="ui image mini  circular label">
            <img src="../assets/images/user.png" alt="" class="src">
            {{ assignee.firstName}}

          </div>
        {{/each}}
      {{/if}}
    </div>
    <div class="extra">
        {{#if data.status}}
          <div class="ui basic compact blue mini  {{if isLoading 'disabled' }} right  icon   button">
            <b>{{data.status}}</b>

          </div>
          <a data-tooltip="Refresh" data-variation="mini" data-inverted="" onclick={{action "refreshStatus"  data.status data}}>
            <i class="basic green  {{if isLoading 'loading'}} sync  icon"></i>

          </a>
        {{/if}}
      <div class="ui right floated red basic icon button" {{action 'deleteTranscription' data}}>  <i class="trash icon"></i></div>
    </div>
  </div>
