  <div class="image">
    <i class="file audio icon massive"></i>
  </div>
  <div class="content">
    {{#if (eq value 'created')}}
      <button class="ui animated right floated basic blue button" {{action 'redirectCreateJob' data}} tabindex="0">
        <div class="visible content">Assign</div>
        <div class="hidden content">
          <i class="clipboard check icon"></i>
        </div>
      </button>
    {{/if}}
    <div class="meta">
      <span> {{moment-format data.createdAt 'hh:mm a / DD-MM-YYYY'}}</span>
    </div>
    {{#link-to 'editor' class='header'}}{{data.name}}{{/link-to}}
    <div class="extra">
      {{#if data.audioDuration}}
        <div class="small text"><i class="wait icon"></i>{{data.audioDuration}} hour</div>
      {{/if}}
    </div>
    {{#if data.editors}}
      <h5 class="ui disabled header">Assigned to: </h5>
      {{#each data.editors as |assignee|}}
        <h5 class="ui disabled header"> {{ assignee.firstName}} {{assignee.lastName}} |</h5>
      {{/each}}
    {{/if}}
    <div class="ui hidden divider"></div>
    {{#if (eq value 'created')}}
      {{#if data.status}}
        <div class="ui basic blue circular mini  {{if isLoading 'disabled' }} button">
          <b>{{data.status}}</b>
        </div>
        <a data-tooltip="Refresh" data-variation="mini" data-inverted="" onclick={{action "refreshStatus"  data.status data}}>
          <i class="basic green  {{if isLoading 'loading'}} sync icon"></i>
        </a>
      {{/if}}
    {{/if}}
  </div>
