<div id="showMessage" style=" margin-left: 1500px;"></div>
<div class="ui container">
  <div class="wrapper">
    <article class="post">
      <div class="post-content">
        <div id="top-bar" class="playlist-top-bar">
          <div class="playlist-toolbar ui-sticky">
            <div class="ui  basic icon buttons">
              <button title="Play" class="btn-play ui  positive  {{if disablePlay 'active' }} button" onclick="{{action (mut disablePlay)}}">
                <i class="play green icon"></i>
              </button>
              <button title="Pause" class="btn-pause ui  orange  button">
                <i class="ui pause orange icon"></i>
              </button>
              <button title="Stop" class="btn-stop btn ui  negative button">
                <i class="ui stop red icon"></i>
              </button>
              <button title="Rewind" class="btn-rewind btn ui  secondary button">
                <i class="ui redo icon"></i>
              </button>
              <!--<button class="btn-fast-forward btn ui  secondary button">-->
                <!--<i class="ui fast forward icon"></i>-->
              <!--</button>-->
              <button title="zoom in" class="btn-zoom-in btn ui  secondary button">
                <i class="ui zoom-in blue icon"></i>
              </button>
              <button title="zoom out" class="btn-zoom-out btn  ui secondary button">
                <i class="ui zoom-out blue icon"></i>
              </button>
            </div>

            <div class="ui basic icon buttons btn-playlist-state-group">
               <button class="btn-cursor ui button active" title="select cursor">
               <i class="headphones icon"></i>
               </button>
                <button class="btn-select ui button" title="select audio region">
                     <i class="expand arrows alternate icon"></i>
                </button>
              <button title="Download the annotations as json" class="btn-annotations-download ui button">Save Transcript</button>
            </div>
            <div class="ui basic icon buttons btn-playlist-state-group">
              <button class="ui button settings">
                <i class="settings icon"></i>
              </button>
              <div class="ui flowing  popup bottom right transition visible animating scale out">
                <div class="ui three column divided center aligned grid">
                  <div class="column">
                    <h4 class="ui header">Volume</h4>
                    <div class="ui input">
                    <input type="range" min="0" max="100" value="100" class="master-gain form-control" id="master-gain">
                    </div>
                  </div>
                  <div class="column">
                    <h4 class="ui header">Word level highlighting</h4>
                    {{ui-checkbox class="toggle" checked=wordLevelHighlighting onChange=(action (mut wordLevelHighlighting))}}
                  </div>
                  <div class="column">
                    <h4 class="ui header">Automatic Scroll</h4>
                    {{ui-checkbox class="toggle automatic-scroll" checked=autoScroll onChange=(action (mut autoScroll))}}

                    <div class="ui checkbox">
                      <input type="checkbox" class="automatic-scroll toggle ui checkbox">
                    </div>
                  </div>
                </div>
              </div>
              <button title="Help" class="ui button help" {{action 'openModal' 'help'}}>
                <i class="help icon"></i>
              </button>
            </div>

            <!--<div class="btn-group btn-fade-state-group">-->
              <!--<span class="btn btn-default btn-logarithmic active">logarithmic</span>-->
              <!--<span class="btn btn-default btn-linear">linear</span>-->
              <!--<span class="btn btn-default btn-exponential">exponential</span>-->
              <!--<span class="btn btn-default btn-scurve">s-curve</span>-->
            <!--</div>-->
            <!--<div class="btn-group btn-select-state-group">-->
                     <!--<span class="btn-loop btn btn-success disabled" title="loop a selected segment of audio">-->
                     <!--<i class="fa fa-repeat"></i>-->
                     <!--</span>-->
              <!--<span title="keep only the selected audio region for a track"-->
                    <!--class="btn-trim-audio btn btn-primary disabled">Trim</span>-->
            <!--</div>-->
            <!--<div class="btn-group">-->
                     <!--<span title="Prints playlist info to console"-->
                           <!--class="btn btn-info">Print</span>-->
              <!--<span title="Clear the playlist's tracks" class="btn btn-clear btn-danger">Clear</span>-->
            <!--</div>-->
            <!--<div class="btn-group">-->
                     <!--<span title="Download the current work as Wav file" class="btn btn-download btn-primary">-->
                     <!--<i class="fa fa-download"></i>-->
                     <!--</span>-->
            <!--</div>-->
          </div>
        </div>
        {{#if isPlayerLoading}}
          <div class="ui basic segment">
            <div class="ui fluid placeholder">
              <div class="image header">
                <div class="line"></div>
                <div class="line"></div>
              </div>
              <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>
          </div>
        {{/if}}
        {{help-modal}}
        <div id="playlist"></div>
        <div class="playlist-bottom-bar">
          <form class="form-inline">
            {{input class="audio-pos" type="hidden"}}<span style="opacity:0">{{currentSpan}}</span>
          </form>

          <div class="sound-status">

          </div>
           {{#if (gt loadProgress 0) }}
             {{#ui-progress percent=loadProgress class="teal indicating"}}
               <div class="bar"></div>
               <div class="label loading-data"></div>
             {{/ui-progress}}
           {{/if}}
        </div>
      </div>
    </article>
  </div>
</div>