{{model.transcription.name}}
<div class="ui very relaxed container">
    {{wave-visulaiser-respeak currentSegment=currentSegment data=model}}
    <div class="ui inline outer audio segment" id="outer-segment-container">
      <div class="audio segments" id="segment-container">

      </div>
    </div>
  <div class="ui icon basic tiny buttons">
    <button class="btn-play ui  positive  {{if disablePlay 'active' }} button" onclick="{{action (mut disablePlay)}}" title="Play"><i class="green play icon"></i></button>
    <button class="btn-pause ui orange button" title="Pause"><i class="orange pause icon"></i></button>
    <button class="btn-redo ui teal button" title="Redo"><i class="teal redo icon"></i></button>
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui stackable five column doubling centered grid">
    <div class="column">
      <div class="ui icon basic massive buttons">
        <button class="ui button" {{action 'record'}} title="Record">
          <i class="orange microphone icon"></i>
        </button>
        <button class="ui button" {{action 'stop'}} title="Stop">
          <i class="red stop icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="ui raised white segment">
  <div class="ui feed">
    <div class="content" id="storeFile">
    </div>
  </div>
</div>