<h2 class="ui header">
  <i class="headphones icon"></i>
  <div class="content">
    {{model.transcription.name}}
    <div class="sub header">Respeak the segments</div>
  </div>
</h2>
<button title="Help" class="ui basic button right floated teal mini" {{action 'openModal' 'respeak'}}>
  <i class="help icon"></i>
</button>
{{respeak-modal}}
<div class="ui divider hidden"></div>
<div class="ui divider hidden"></div>
<div class="ui very relaxed container">
    {{wave-visulaiser-respeak currentSegment=currentSegment data=model audioFileArray=audioFileArray fileNames=fileNames}}
    <div class="ui inline outer audio segment basic" id="outer-segment-container">
      <div class="audio segments" id="segment-container">
      </div>
    </div>

  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui stackable five column doubling centered grid">
    <div class="column">
      {{#if isRecording}}
          Recording
          <i class="loading circle notch icon"></i>
      {{/if}}
      <div class="ui icon massive buttons">
        {{#unless isRecording}}
          <button class="ui  basic  ompact button" {{action 'record'}} title="Record">
            <i class="orange microphone icon"></i>
          </button>
        {{/unless}}
        <button class="ui basic button {{unless isRecording 'disabled' }}" {{action 'stop'}} title="Stop">
          <i class="red stop icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="ui raised white segment">
  <div class="ui feed">
    <div class="content" id="storeFile">
    </div>
  </div>
</div>