<div class="ui container">
  <h2 class="ui header">
    <i class="headphones icon"></i>
    <div class="content">
      {{model.transcription.name}}
      <div class="sub header">Respeak the segments</div>
    </div>
  </h2>
  <button title="Help" class="ui basic button right floated teal mini" {{action 'openModal' 'respeak'}}>
    <i class="help icon"></i>
  </button>
</div>
{{respeak-modal}}
<!--<div class="ui divider hidden"></div>-->
<!--<div class="ui divider hidden"></div>-->
<div class="ui relaxed grid">
  <div class="row">
    <div class="four wide column">
      <div class="ui mini header center aligned">Recorded Segments:</div>
      <div class="ui list">
        <center>
          {{#if model.transcription.respeakFiles}}
            {{respeakFileKeys}}
          {{/if}}
          <br>
          {{#if fileNames}}
            <div class="ui mini header center aligned">Recorded Now:</div>
          {{/if}}
          {{#each fileNames as |fileName|}}
            <div class="item" id="recorded-segments">
              <div class="content">
                <div class="ui tiny disabled header"><i class="tiny music icon"></i> {{fileName.innerHTML}}</div>
                <div class="ui hidden divider"></div>
              </div>
            </div>
          {{else}}
            <div class="ui hidden container">
              <div class="ui tiny disabled header">
                No re-spoken segments yet
              </div>
            </div>
          {{/each}}
          {{#if fileNames}}
            <button class="ui basic blue icon button" title="Submit" {{action 'uploadFiles' model.transcription}} {{action 'submitMeta'}}>
              <i class="check icon"></i>
            </button>
          {{/if}}
        </center>
      </div>
    </div>
    <div class="twelve wide column">


<!--      <div class="playlist-toolbar ui-sticky">-->
<!--        <div class="ui  basic icon buttons">-->
<!--          <button title="Play" class="btn-play ui  positive  {{if disablePlay 'active' }} button" onclick="{{action (mut disablePlay)}}">-->
<!--            <i class="play green icon"></i>-->
<!--          </button>-->
<!--          <button title="Pause" class="btn-pause ui  orange  button">-->
<!--            <i class="ui pause orange icon"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->



      <div class="ui very relaxed container">
        <div id = "visualizer">
          {{wave-visulaiser-respeak currentSegment=currentSegment currentSegmentLabel=currentSegmentLabel currentSegmentStartTime=currentSegmentStartTime currentSegmentEndTime=currentSegmentEndTime data=model audioFileArray=audioFileArray fileNames=fileNames reSpokenKeys=respeakFileKeys metaSegment=metaSegment}}
          <div class="ui inline outer audio segment basic" id="outer-segment-container">
            <div class="audio segments" id="segment-container">
            </div>
          </div>
        </div>

<!--        <div class="ui hidden divider"></div>-->
<!--        <div class="ui hidden divider"></div>-->
        {{#if isRecording}}
        <div class="recording-message">
          Recording
          <i class="loading circle notch icon"></i>
        </div>
        {{/if}}
        <div class="ui stackable five column doubling centered grid">
          <div class="column">



            <div class="ui icon massive buttons">
              <button title="Play" class="ui basic btn-play  {{if disablePlay 'active' }} button" onclick="{{action (mut disablePlay)}}">
                <i class="play green icon"></i>
              </button>
              <button title="Pause" class="ui basic  button btn-pause">
                <i class="ui pause orange icon"></i>
              </button>
<!--              <div id="separator"></div>-->
                <button class="ui  basic  ompact button record" {{action 'record'}} title="Record" disabled={{isRecording}}>
                  <i class="orange microphone icon"></i>
                </button>
              <button class="ui basic button {{unless isRecording 'disabled' }}" {{action 'stop'}} title="Stop">
                <i class="red stop icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui container" style="text-align: center">
  <div class="ui raised white segment recorded-container">
    <div class="ui feed">
      <div class="content" id="storeFile">
      </div>
    </div>
  </div>
</div>